<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Bootstrap CSS (from a CDN) -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Bootstrap JS (from a CDN) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'cssfolder/home.css' %}" />
    <script defer src="{% static 'jsfolder/home.js' %}"></script>
  </head>
  <body>
    <input id="my_profile_id" type="hidden" value="{{ my_profile.id }}" />
    <input id="my_profile" type="hidden" value="{{ my_profile }}" />
    <div class="container">
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div class="recent_heading">
                <h4>Recent</h4>
                <a href="/profile/"><button>Edit Profile</button></a>
              </div>
            </div>
            <div class="inbox_chat">
              {% for profile in all_profiles %}
                <div class="chat_list">
                  <div class="chat_people profile clickable-h1" id="{{ profile.id }}" data-profile-img="{{ profile.profileimg.url }}">
                    <div class="chat_img">
                      <img class="profile_img" src="{{ profile.profileimg.url }}" alt="sunil" />
                    </div>
                    <div class="chat_ib">
                      <h1 id="{{ profile.id }}">{{ profile.name }}</h1>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>

          <div class="mesgs">
            <div id="active_bar">
              <p id="active-status"></p>
            </div>
            <div class="msg_history"></div>
            <div class="type_msg">
              <div class="input_msg_write">
                <input type="text" class="write_msg" id="messageInput" placeholder="Type a message" />
                <button class="msg_send_btn" id="sendMessageBtn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
